/*Load Foundation Icons*/
@font-face {
	font-family: '[set]Foundicons';
	src: url('fonts/[set]_foundicons.eot');
	src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'), url('fonts/[set]_foundicons.woff') format('woff'), url('fonts/[set]_foundicons.ttf') format('truetype'), url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
}

body.home .hide-on-home {
	display: none;
}

[class*="foundicon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
}

[class*="foundicon-"]:before {
	font-family: "[set]Foundicons";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
}

.logo {
	position: relative;
	left: 1em;
	width: 17em;
	top: .5em;
	float: left;
}

.secondary-home .logo { top: 0; margin-bottom: 0; }

/* Social Media */
.getting-social {
    margin-top : 20px; 
	margin-bottom: 10px;
}

.getting-social img {
	width: 30px;
}


/*Begin General Styles*/
.header-homepage {
	webkit-background-size: cover;
	background-size: cover;
	display: block;
	box-sizing: border-box;
}

.navbar-fixed-top{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	background: #fff;
	min-height: 70px;
	border: 0;
	font-weight: 400;
	margin-bottom: 0!important;
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 2px 8px 0 rgba(50,50,50,0.08);
	box-shadow: 0 2px 8px 0 rgba(50,50,50,0.08);
	top: 0;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.hidden { display: none !important; }

.header-homepage img {
	margin-bottom: 20px;
	display: block;
	float: left;
	width: 18%;
}

.top-bar {
	margin-bottom: 0;
}

.top-bar-section ul li > a {
	font-weight: 400;
}

body,
body.secondary-home {
	color: #222;
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
}

.full-row {
	width: 100%;
}

.full-row.grey {
	background: #FFFFFF;
	padding-top: 90px;
	padding-bottom: 0!important;
	height: auto;
}

.home-header-cta {
	display: inline;
	float: left;
	width: calc(100% - 210px);
	padding: 0px 16px 0px 35px;
}
.home-header-cta .menu { list-style-type: none; padding: 0; margin: 0; display: inline-block; float: left; width: 100%; text-align: center; }
.secondary-home .home-header-cta { padding: 12px 2px 2px 16px; }
/* .secondary-home .home-header-cta .menu { list-style-type: none; padding: 0; margin: 0; display: inline-block; } */
.secondary-home #menu-front-page a { color: rgb(143,143,143); font-size: 17px; }
.secondary-home #menu-front-page a:hover,
.secondary-home #menu-front-page a:focus { color: #F37A76 }
.home-header-cta .menu li { display: inline-block; margin: 0 20px 0 0; line-height: 6; }
.home-header-cta .button { margin: 0; }
.home-header-cta ul .inpage-login { display: block; margin-top: 23px; }
.home-footer-cta { display: inline; float: left; width: 100%; padding: 27px 16px 19px 35px; }
.menu-footer-home-container #menu-footer-home {
	list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
}
.home-header-cta .menu li a { text-transform: uppercase;  }
.header-homepage .home-logo {
	margin-top: 0.5em;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 60px;
	width: 205px;
	box-sizing: border-box;
}


.mobile-menu .menu-link {
	display: none;
	position: absolute;
	top: 15px;
	right: 20px;
	padding: 10px;
	cursor: pointer;
	z-index: 20;
	font-size: 1.4em;
}

.menu-footer-home-container .menu li { display: inline-block; margin: 0 20px 0 0; }
.menu-footer-home-container .menu li a { text-transform: uppercase; }
.features {
	text-align: center;
}

.intro-section .button {
	background-color: white;
	color: #454545;
	border-style: none;
}

.intro-section .button:hover{
	color: #F37A76;
}

.intro-section {
	text-align: center;
	margin-top: 70px;
}

.intro-section .trial-item {
	list-style-type: none;
}

.description {
	float: left;
	text-align: left;
}

.header img {
	margin-top: 40px;
}

.features-intro {
	margin-top: 3%;
}
.top-email {
	margin-bottom: 5px;
}
h1 {
	color: #312A2A;
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

.header h1 {
	font-size: 24px;
}

.features h1 {
	margin-top: 60px;
}

.tour h1 {
	text-align: center;
	margin-top: 60px;
}

h2 {
	font-size: 25px;
	color: #222;
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
	font-weight: 500;
	margin-top: 2em;
}

.features h2 {
	margin-top: 60px;
}

p.main {
	font-size: 16px;
	color: #312A2A;
}

p {
	font-size: 16px;
	color: #222;
	letter-spacing: 0px;
}

p.description {
	text-align: left;
}

p.header {
	text-align: center;
	font-size: 20px;
}

.full-row.darkgrey {
	background: #fff;
	/* background: #f3f3f3; */
	color: #000000;
	text-align: center;
	margin-top: 15;
	padding-bottom: 70;
/*	position : absolute;
	bottom : 0; 

/*	padding-bottom: 25px;
	position: relative;
	z-index: 10; */
}


.video h1 {
	color: #000;
}

.full-row.darkgrey p {
	color: #000;
	font-size: 20px;
}

.video>h1 {
	margin-top: 60px;
}

img {
	margin-bottom: 40px;
}

hr {
	border-bottom: solid white 1px;
}

.darkgrey h2 {
	color: #efefef;
	margin-top: 0px;
	margin-bottom: 10px;
}

.darkgrey img {
	margin-bottom: 0px;
}

.full-row.darkgrey p.description {
	font-size: 15px;
	text-align: center;
	margin-bottom: 50px;
}

.dark-hr {
	border-top: 1px solid rgb(58, 58, 58);
	border-bottom: 1px solid rgb(82, 82, 82);
	margin-bottom: 60px;
}

.icons {
	list-style: none;
	font-size: 16px;
	text-align: left;
}

ul li {
	font-size: 16px;
	letter-spacing: 1px;
}

[class*="foundicon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	font-size: 28px;
	top: 6px;
	position: relative;
	margin-right: 10px;
	text-shadow: 0px 0px 1px rgba(253, 253, 253, 1);
}

.button {
	font-family: "Raleway", Arial, Helvetica, Sans-serif;
	font-weight: 400;
	border-radius: 3px;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.iphone {
	width: 350px;
	height: auto;
	float: right;
	z-index: 5;
	position: relative;
	top: 40px;
	margin-bottom: -50px;
}

.footer {
	background: #424a5d !important;
	text-align: left !important;
}

.footer li,a {
	color: rgb(143,143,143);
	list-style: none;
	letter-spacing: 0;
	font-size: 14px;
}

h5 {
	color: #EFEFEF;
	padding-top: 50px;
}

.email {
/*	margin-left: -15px !important; */
}

.demo-video {
	position: absolute;
	top: 87px;
	left: 50%;
	margin-left: -197px;
	width: 397px;
}

@media screen and (max-width: 950px) {
	.laptop {
	display: none;
}
.demo-video {
}

}
@media screen and (max-width: 780px) {

	.laptop {
		display: none;
	}
	.demo-video {
		margin-bottom: 40px;
		position: relative;
		top: 0;
	}	
	.home-header-cta {
		padding: 0;
		width: 100%;
	}
	.home-header-cta .menu li {
		float: left !important;
		width: 100%;
		margin: 0 5px;
		line-height: 26px;
		text-align: left;
	}

	.mobile-menu .menu-link {
		display: block;
		padding: 10px;
	}

	.mobile-menu .menu {
		display: none;
		opacity: 0;
		transition: opacity .3s ease, visibility 0s linear .3s;
	}

	.mobile-menu-active .menu {
		display: inline-block;
		opacity: 1;
	}

	.home-header-cta {
		width: 100%;
	}

	.header-homepage .home-logo {
		width: calc(100% - 45px);
	}


	.fl-module-custom-video .fl-module-content {
		width: 480px !important;
		height: 240px !important;
		padding: 29px 70px 26px 79px !important;
		background-size: contain;
	}
}

.home-mobile-nav { margin: 20px 0; }
.home-mobile-nav .button { margin: 0; }
.home-mobile-nav em { display: block; padding: 0; margin: 10px 0; font-size: 13px; }

.full-row .blog-cta {  }
.full-row .blog-cta p { font-size: 14px; }

@media screen and (min-width: 481px) {
	.visible-480 { display: none; }
}

@media screen and (max-width: 480px) {
	.header-homepage img {
		width: 100%;
		margin-bottom: 0;
	}
	.fl-module-custom-video .fl-module-content {
		width: 320px !important;
		height: 240px !important;
		padding: 21px 25px 26px 32px !important;
	}

	.laptop,
	.log-in,
	.features-intro {
		display: none;
	}

	.getting-social {
		margin-left: 15px;
		position: relative;
		margin-top: 10;
	}

	h1 {
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 40px;
		font-size: 40;
	}

	.full-row.darkgrey {
		background: #fff;
		color: #000;
		text-align: center;
		margin-top: 0;
		padding-bottom: 0;
	}

	.video>h1 {
		margin-top: 5px;
	}

	.small-2 {
		position: relative;
		width: 25%;
	}

	.small-4 {
		margin-left:15;
		position: relative;
		width: 65%;
	}

	.home-header-cta { display: block; float: none; text-align: center; clear: both; }
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* ------------------------------
Pricing Form
------------------------------ */
.secondary-home #main-content {
    min-height: 90% !important;
    
    padding-bottom: 100px;
}

.single-memberpressproduct.secondary-home #main-content {
    background: url('../img/Flowers.png') no-repeat center 30px !important;
    background-size: 1300px !important;
}

.mepr-price-menu {
    background: url('../img/Flowers.png') no-repeat center !important;
    background-size: contain !important;
}

.mp-form-row input {
    border-radius: 4px;
}

.mepr-signup-form.mepr-form {
    
}

.innerRegform .mepr-signup-form.mepr-form {
    border: none;
    border-radius: none;
    margin-top: 0;
    padding: 0;
}

.secondary-home .mepr-price-box  {
    margin: 5px;
    float: none;
    display: inline-block;
    width: 50%;
    max-width: 402px;
    padding: 
}

.mepr-price-boxes { border: none; text-align: center; }

.mepr-price-box-title {
    padding: 6px 0 0 0 !important;
    font-size: 30px !important;
    font-weight: bold;
}

.mepr-price-box-price { 
    padding: 0 0 6px 0 !important;
    font-size: 16px !important;
}

.mepr-price-box-title,
.mepr-price-box-price {
    text-transform: uppercase;
    color: white;
    background-color: #f57973;
}

.mepr-price-box-benefits-item {
    position: relative;
    display: inline-block;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    width: 98%;
    padding: .9375em .5em .9375em .5em;
    font-size: 16px !important;
    background: #e2e2e2;
    overflow: hidden;
}

.mepr-disabled:hover {
    cursor: not-allowed !important;
}

.mepr-price-box-benefits-list div:last-child {
    position: relative;
    font-weight: bold;
}

.mepr-price-box-benefits-item:before,
.mepr-price-box-benefits-list div:last-child:before {
    content: '';
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mepr-price-box-benefits-item:before {
    background-image: url('../img/checkbox-pink.png');
}

.mepr-price-box-benefits-list div:last-child:before {
    background-image: url('../img/checkbox-black.png');
}

.mepr-price-box-benefits-item:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: 0 auto 0;
    width: 56%;
    height: 1px;
    background-color: #FFFFFF;
}

.mepr-price-box-benefits-list div:last-child:after {
    content: '';
    z-index: 9999;
    display: block;
    position: absolute;
    bottom: -11px;
    width: 257%;
    height: 2px;
    background-color: #e2e2e2;
}

.mepr-price-box-button { 
    margin-top: 20px;
    background: transparent; }

.mepr-price-box-button a,
.secondary-home .mepr-submit {
    display: block;
    cursor: pointer;
    color: white;
    width: 100%;
    border-bottom: 4px solid !important;
    border-bottom-color: #148369 !important;
    border-radius: 2px !important;
    font-size: 18px !important;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3fd0ad !important;
    -webkit-transition: border-bottom-color 300ms ease-out;
     -moz-transition: border-bottom-color 300ms ease-out;
      transition: border-bottom-color 300ms ease-out;
    padding: 15px 5px;
    width: 100%;
    border: 0;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.stripe-button-el:not(:disabled):active, .stripe-button-el.active {
    background: none !important;
}

.stripe-button-el:not(:disabled):active span, .stripe-button-el.active span {
    background: none !important;
}

.ptp-col .ptp-button form button span {
    font-size: 18px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mepr-price-box-button a:hover,
.secondary-home .mepr-submit:hover {
    border-bottom-color: #f57973 !important;
}


.membership-container {
    border: 1px solid #B6B6B6;
    border-radius: 4px;
    margin-top: 40px;
    padding: 20px;
    background-color: white !important;
}

.wrapper .mepr-unauthorized-message {
    padding-top: 30px;
}

@media screen and (max-width: 768px) {
    .secondary-home .ptp-col { width: 100%; }
}

.fl-module .mepr-price-box {
	padding: 0px !important;
}
.fl-module .mepr-price-menu.minimal_horizontal .mepr-price-box-title {
	margin-top: 0px !important;
}
.fl-module .mepr-price-menu.minimal_horizontal .mepr-price-box-button {
	margin-bottom: 0px !important;
}