body {
	background: #f2f2f2;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
body.bg-color {
	background: #ffffff;
}
.wrapper {
	background: #ffffff;
	margin: 0 auto;
	width: 1170px;
	max-width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */
}

th {
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666 !important; color: #FFF; } /* Hover cell effect! */


@media screen and (min-width:567px) {
	.wrapper .col-left {
		float: left;
		text-align: initial !important;
	}

	.wrapper .col-right {
		float: right;
	}
}

@media print {
	.wrapper.invoice {
		width: 100%;
	}

	.wrapper.invoice .col-right {
		float: right !important;
		width: 50%;
	}

	.wrapper.invoice .col-right.costs {
		width: initial;
	}

	.wrapper.invoice .col-left {
		float: left !important;
		width: 50%;
		text-align: left !important;
	}

	.wrapper.invoice .col-right table th, .wrapper.invoice .col-right table td {
		border: 1px solid #DFDFDF !important;
	}

}