.proposal-settings-outer-wrap {
	background: #f0f0f0;
}

.proposal-container .content-panel {
	padding-top: 20px;
}

.new-proposal-container .proposal-wrapper {
	padding-top: 0;
}

.proposal-container .proposal-header .proposal-header-inner,
.proposal-container .event-details-section,
.proposal-container .proposal-section,
.proposal-container .proposal-payments-container,
.proposal-container .section-breaker,
.proposal-container .proposal-contract {
	margin-bottom: 0;
	padding-bottom: 0;
}

.proposal-container .proposal-section .row,
.proposal-container .proposal-payments-container .row,
.proposal-container .section-breaker .col-sm-12,
.event-details-section .row {
	max-width: 90%;
	margin: auto;
}

.public-proposal .proposal-container .proposal-header,
.proposal-container .proposal-state-edit .proposal-header {
	padding-top: 0;
}

.proposal-container .proposal-header {
	margin-top: 0;
	padding-top: 17px;
}

.proposal-container .event-details-section .section-heading,
.proposal-container .section-divider,
.proposal-container .content-panel {
	border: none;
}

.proposal-container .event-details-section .right {
	font-size: 20px;
	margin-bottom: 40px;
	padding-top: 10px;
	width: 100%;
}

.proposal-container .event-details-section .section-heading {
	font-size: 28px;
	text-align: center;
	width: 100%;
}

.proposal-container .event-details-section .section-customer-info .row,
.proposal-container .event-details-section .section-company-info .customer-info {
	line-height: 24px;
	text-align: left;
	margin-top: 0;
	width: auto;
	display: inline-block;
}

.proposal-container .event-details-section .sub-heading {
	color: #b8b8b8;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	width: auto;
	display: inline-block;
}

.proposal-container .event-details-section .customer-info {
	float: none;
}

.proposal-container .event-details-section .col-count-3 .section-customer-info .customer-info {
	text-align: center;
	width: 100%;
}

.proposal-container .event-details-section .col-count-2 .section-company-info,
.proposal-container .event-details-section .col-count-2 .section-customer-info {
	display: block;
	width: 100%;
	min-height: 0;
	text-align: center;
}

.proposal-container .event-details-section .customer-info,
.proposal-container .content-panel .col-sm-12 {
	padding: 0;
}

.proposal-container .content-panel .col-sm-12 {
	float: none;
	text-align: left;
}

.proposal-container .event-details-section .customer-info p {
    display: inline-block;
    margin-bottom: 0;
}

.proposal-container .event-details-section .customer-info .customer-phone-email,
.proposal-container .event-details-section .customer-info,
.proposal-container .customer-address {
	padding-left: 5px;
}

.event-details-section .col-sm-4 {
	text-align: center;
	width: 100%;
	padding-top: 10px;
}

.proposal-container .printing-for-client {
	width: 100%;
	text-align: right;
}

.proposal-container .arrangement-photo {
	width: 100px;
	height: 100px;
	border-radius: 0;
	margin-bottom: 5px;
	margin-right: 5px;
}

.proposal-container .event-details-section .right.edit-mode {
	width: 100%;
	text-align: center;
}

.new-proposal-container .proposal-wrapper {
	background: #fff;
}

.stemcounter-new-design.public-proposal #main-content .wrapper {
	padding: 0;
}

.proposal-container .total-costs div {
	margin-left: 30%;
}

.main-content .proposal-container .proposal-header .proposal-header-inner {
	background-image: none !important;
	padding: 0;
	background: #fff;
	height: 150px;
	min-height: 0;
}

.proposal-container .proposal-header .company-logo {
	width: auto;
	height: 100%;
	border: none;
	float: none;
	margin: auto;
}

.header-title-wrap.clearfix {
	padding: 0;
	margin: 0;
}

.proposal-container .proposal-header .company-logo + .header-title-wrap {
	padding-top: 0;
}

.proposal-container .proposal-state-edit .arrangement-item-tr .arr-item-attachment {
	left: 60px;
}

.proposal-event-notes {
	padding-top: 20px;
	text-align: center;
}

.proposal-container .event-details-section .section-heading .event-name {
    text-align: right;
    border: none;
    width: 47%;
}

.proposal-container .event-details-section .section-heading .event-date {
    width: 50%;
    text-align: left;
    border: none;
    float: right;
}

.proposal-container .total-costs {
	width: 40%;
	margin-left: 60%;
	padding: 0;
	border: 1px solid #cfcfcf;
}

.proposal-container .total-costs div {
	margin-left: auto;
	margin-right: auto;
}

.proposal-container .total-costs .total-with-CC * {
	font-size: 16px; 
}

.proposal-style-2 .container {
	width: 1070px;
	background: #fff;
}

.proposal-settings {
	background: none;
}

#event-proposal .proposal-wrapper .event-notes-row {
	margin-top: 20px;
}

.proposal-container .event-details-section .venue-details {
	padding-left: 0;
}

.proposal-container .section-divider.section-prepared-info {
	margin-bottom: 0;
	padding-top: 10px;
}

td.arrangement-subtotal {
	background: #f2f2f2;
	text-align: center;
}

td.arrangement-total,
td.arrangement-quantity,
.proposal-section thead th {
	text-align: center;
}

.proposal-container .total-costs div {
	width: 100%;
	padding: 5px 10px;
}

.proposal-container .total-costs .total-value-soft * {
	margin-top: 0;
}

.total-costs .total-value-soft {
	background: #d5d5d5;
}

.total-costs .total-with-CC {
	background: #b5b5b5;
}

.total-costs div {
	background: #f2f2f2;
}

td.arrangement-total {
	background: #f9f9f9;
}

.proposal-container tbody:last-child {
	border-bottom: 1px solid #cfcfcf;
}

.event-details-section {
	padding-top: 0;
}

.event-details-section .section-heading,
.section-company-info .customer-address,
.proposal-payments .section-heading,
.customer-phone-email span {
	display: none !important;
}

.proposal-container .event-details-section .right.responsive-visible {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.section-customer-info p,
.section-company-info p {
	margin: 0;
}

.proposal-container .payments-module .single-payment.complete .scheduled-status .status-date {
	border: 1px solid;
	margin-left: 10px;
	padding: 5px 10px 5px 5px;
}

.proposal-state-edit  .col-sm-4 .sub-heading {
	width: 20%;
}

.ql-toolbar.ql-snow {
	margin-top: 0;
}

.row.visible {
	width: 100%;
	margin: 0 auto;
}

.proposal-container .section-heading {
	padding: 0;
	font-size: 20px; 
}

.proposal-container thead tr {
	height: 35px;
}

.proposal-container .proposal-section .arrangement-name {
	font-size: 18px;
}


/* Media Query */
@media screen and (max-width: 1200px) {

	.proposal-toolbar,
	.row {
		max-width: 1070px;
	}

}

@media screen and (max-width: 991px) {

	.new-proposal-container .proposal-state-view .proposal-toolbar .toolbar-action .finalize-event {
		padding-top: 17px;
	}

	.proposal-container .proposal-header {
		padding-top: 37px;
	}

}

@media screen and (max-width: 768px) {
	
	.new-proposal-container .proposal-state-view .proposal-toolbar .toolbar-action .finalize-event {
		padding-top: 0px;
	}

}


@media print {
	
	body.proposal-style-2 {
		background: #fff !important;
	}

	#forPrint,
	.proposal-style-2 .container {
		width: 680px;
	}
	
	.row {
		margin: 0;
	}

	.proposal-container .proposal-contract {
		margin-left: 0;
		margin-right: 0; 
	}

	.proposal-container .payments-module .scheduled-status {
		width: 20%;
	}

	.proposal-container .payments-module .scheduled-amount {
		width: 10%;
	}

	.proposal-container .section-heading {
		padding: 5px;
	}

	.proposal-container .total-costs {
		width: 50%;
		margin-left: 50%;S
	}

	.proposal-container .proposal-section .arrangement-name {
		padding-left: 0;
	}

	.proposal-container .proposal-section .arrangement-details, #event-proposal .arrangement-photos {
		margin-left: 0;
	}

}