body {
	-webkit-print-color-adjust: exact;
	background: transparent;
	font-size: 13px !important;
}

html { font-family: 'PTSans-Caption', 'Ruda', 'sans-serif' !important; }

a[href]:after {
	content: none !important;
}

section.wrapper {
	margin: 0 !important;
	padding: 0 !important;
	display: block;	
}

.container {
	width: 100%;
}

.proposal-toolbar,
.event-properties-sidebar {
	display: none;
}

.new-proposal-container .proposal-wrapper {
	background: #fff !important;
	padding-top: 0;
}

.proposal-container .proposal-header {
	margin-top: 0;
}

.proposal-container .proposal-header .proposal-header-inner {
	padding: 0 15px;
	margin-bottom: 0 !important;
	min-height: 165px;
}

.proposal-container .proposal-header .company-logo {
	width: 167px !important;
	height: 167px !important;
	border: none;
	margin-right: 35px;
}

.proposal-container .proposal-header .company-logo + .header-title-wrap {
	padding-left: 0;
	padding-top: 70px;
}

.proposal-container .proposal-header .header-title-wrap .proposal-info-proposal, .proposal-container .proposal-header .header-title-wrap .company-info-name {
	font-size: 18px;
	font-weight: 600;
}

.proposal-container .proposal-header .header-title-wrap .proposal-info-date, .proposal-container .proposal-header .header-title-wrap .company-info-sub {
    font-size: 16px;
}

.proposal-container .content-panel {
	border: none !important;
}

.proposal-container .content-panel .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
	float: none !important;
}

.proposal-container .section-heading {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #DEDEDE !important;
	height: 34px;
}

.proposal-container thead tr {
	height: 34px;
}

.proposal-container .section-heading span, .proposal-container .section-heading {
	font-size: 16px;
	color: black !important;
}

.proposal-container .col-sm-4 {
    width: 33.33333333%;
    float: left;
}
/* .proposal-container .section-divider.section-prepared-info {
	border: 1px solid #cfcfcf;
} */
.proposal-container .col-sm-4.section-customer-info, .proposal-container .col-sm-4.section-company-info {
	width: 50% !important;
}

.proposal-container .event-details-section .col-sm-2 {
    width: 22.22%;
    float: left;
}

.proposal-container .event-details-section .customer-info {
	padding-left: 10px;
}

.proposal-container .section-customer-info .customer-info {
	padding-left: 25px;
}

.proposal-container .arrangement-photo {
	float: left;
	width: 115px;
	height: 115px;
}

.proposal-container thead {
	background-color: #DEDEDE;
	border: none !important;
}

.proposal-container .total-costs, .proposal-container .payments-made {
	width: 50%;
	float: left;
	padding-right: 0;
	padding-left: 0;
	margin-top: 20px;
	page-break-inside: avoid;
}

.proposal-container .payments-made div {
	width: 80%;
}

.proposal-container .proposal-section .arrangement-name, .proposal-container .proposal-section .arrangement-details {
	padding-bottom: 5px;
	color: #000;
}

.proposal-container .proposal-section .arrangement-details,  #event-proposal .arrangement-photos {
	margin-left: 45px;
}

.proposal-container .proposal-section .arrangement-details span {
	color: #000 !important;
}

.stemcounter-new-design #main-content .wrapper {
	padding-bottom: 0px;
}

.proposal-container .proposal-contract {
	margin-left: -25px;
	margin-right: -25px;
}

.proposal-container tbody,
.proposal-container tbody tr,
.proposal-container tbody tr td {
	page-break-inside: avoid;
}

.proposal-container thead .col-heading, .proposal-container thead .col-qty, .proposal-container thead .col-price, .proposal-container thead .col-subtotal {
	color: #000 !important;
	font-size: 16px;
}

#event-proposal .proposal-section thead {
	font-size: 18px;
	padding-left: 10px;
	color: #000;
	border: none !important;
}
.proposal-container thead .col-subtotal {
	padding-right: 10px;
}

#event-proposal .page-breaker, #event-proposal .arrangement-name, #event-proposal .arrangement-details, #event-proposal .arrangement-photos {
	page-break-inside: avoid;
}

#event-proposal .section-breaker {
	page-break-before: always;

}

.proposal-container .proposal-section .section-2 {
	border: none !important;
	margin-bottom: -34px;
}

.proposal-container .event-name-date {
	display: block;
	margin-bottom: -42px;
	padding-top: 24px;
}

.proposal-container .event-details-section {
	padding-bottom: 10px;
}

.proposal-container .event-details-section .event-name-date span {
	font-size: 16px;
}

.proposal-container .event-details-section .right {
	float: none;
}

.proposal-container .event-details-section .details-row {
	padding-left: 30px;
	padding-top: 22px;
}

.proposal-container .event-details-section .section-heading, .proposal-container .section-divider {
	border: none !important;
}

.proposal-container tbody {
	border-bottom: 1px solid #737373;
}

.proposal-container .payments-schedule {
	padding-bottom: 20px;
}

.proposal-container .payments-schedule tbody tr {
	color: #000;
	font-weight: 100;
	border-bottom: 1px solid #737373;
	font-stretch: 16px;
}

.proposal-container .payments-schedule .scheduled-payments-module {
	margin: 0 45px 0 45px;
}

.proposal-container .payments-schedule .scheduled-date, .proposal-container .payments-schedule .scheduled-amount {
	color: #000;
	font-size: 14px;
	font-weight: 100;
	border-bottom: 1px solid #737373;
	padding-bottom: 5px;
}

.proposal-container .payments-schedule .scheduled-date, .proposal-container .payments-schedule tbody tr td:first-child {
	padding-left: 0;
}

.proposal-container .proposal-contract div {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 20px 0 20px;
}

.proposal-container .proposal-section .arrangement-name {
	padding-left: 30px;
}

.proposal-container .proposal-section {
	margin-bottom: 0;
}

.proposal-container .total-costs {
	page-break-inside: avoid;
}

.proposal-container .event-details-section .sub-heading {
	margin-bottom: 10px;
	font-size: 14px;
}

.proposal-container tbody tr:last-child {
	border-bottom: 1px solid #737373;
}

.proposal-container .proposal-header .proposal-header-inner.has-bg {
margin-bottom: 25px !important;
}

.proposal-container .proposal-header .proposal-header-inner.has-bg .company-logo {
	top: 15px;
    border: 1px solid #d7d7d7;
}

.proposal-container .proposal-header .proposal-header-inner.has-bg * {
    color: #fff !important;
}

.proposal-container .proposal-header .proposal-header-inner.has-bg .proposal-info-proposal,
.proposal-container .proposal-header .proposal-header-inner.has-bg .proposal-info-date,
.proposal-container .proposal-header .proposal-header-inner.has-bg .company-info-sub,
.proposal-container .proposal-header .proposal-header-inner.has-bg .company-info-name {
	color: #fff !important;
}

.proposal-wrapper .row.event-notes-row {
	border-top: 1px solid #d7d7d7;
}

.proposal-container .proposal-section .section-heading, .proposal-container .proposal-section .section-divider {
	page-break-after: avoid;
}

.proposal-container .proposal-contract .signature-wrap {
	text-align: center !important;
}

.proposal-container .proposal-contract .signature-outer-wrap .sign-label {
    padding-left: 25px
}

.proposal-container .proposal-contract .signature-wrap:before {
	content: '';
}

.proposal-container .proposal-contract .sign-button {
	display: none;
}

.proposal-container .proposal-contract .sign-button.signed {
	display: block;
}

.proposal-container .printing-for-client {
	display: none;
}

.proposal-container .proposal-event-notes {
	padding-left: 30px;
	padding-right: 30px;
}

.section-proposal-attachments {
	display: none;
}