@font-face {
  font-family: 'PTSans-Caption';
  src: url('../fonts/PT_Sans_Caption/PTSans-Caption.woff') format('woff'),
       url('../fonts/PT_Sans_Caption/PTSans-Caption.ttf') format('truetype'),
       url('../fonts/PT_Sans_Caption/PTSans-Caption.svg#PTSans-Caption') format('svg');
  src: url('../fonts/PT_Sans_Caption/PT_Sans-CaptionRegular.woff2') format('woff2'),
       url('../fonts/PT_Sans_Caption/PT_Sans-CaptionRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Caption';
  src: url('../fonts/PT_Sans_Caption/PTSans-CaptionBold.woff') format('woff'),
       url('../fonts/PT_Sans_Caption/PTSans-CaptionBold.ttf') format('truetype'),
       url('../fonts/PT_Sans_Caption/PTSans-CaptionBold.svg#PTSans-CaptionBold') format('svg');
  src: url('../fonts/PT_Sans_Caption/PT_Sans-CaptionBold.woff2') format('woff2'),
       url('../fonts/PT_Sans_Caption/PT_Sans-CaptionBold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@media print {
  @font-face {
    font-family: 'PTSans-Caption';
    src: url('../fonts/PT_Sans_Caption/PTSans-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PTSans-Caption';
    src: url('../fonts/PT_Sans_Caption/PTSans-CaptionBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
}
