.header .top-menu,
aside.___Sidebar_Event,
.sidebar-toggle-box { display: none; }

.arrangements-page.event-actions h4 { display: none !important;  }
#m-container .grid-item { position: static !important; left: 0 !important; top: 0 !important; width: auto !important; float: none !important; padding: 0; margin: 50px 0; page-break-after: always; }
#m-container .grid-item .content-panel { padding: 0; }

.wrapper .event-actions .add-arrangement-button,
.arrangement-list-item-actions { display: none; }


.arrangement-tables thead th:nth-child(3),
.arrangement-tables tbody td:nth-child(3),
.arrangement-tables tfoot td {
	font-size: 0;
}

.hidden-arragement-photos { display: table; }
.hidden-arrangement-notes { display: block; }

.arrangement-list-item .arrangement-math { display: none; }

.page-template-template-order .order-message,
.page-template-template-order .generate-order-button,
.page-template-template-order .order-data,
.page-template-template-order .zopim {
	display: none;
}

.stemcounter-new-design #main-content .wrapper {
	margin-top: 0;
}
.stemcounter-new-design .proposal-toolbar {
	display: none;
}