/*  Free Trial Button Module */
.fl-module .button-module-left {
	float: left;
}

.fl-module .button-module-center {
	text-align: center;
}

.fl-module .button-module-right {
	float: right;
}
.fl-module-free-trual-button-module a {
	width: 235px;
	font-size: 18px;
	height: 60px;
	line-height: 1;
	padding-top: 20px;
}

.row.home-footer {
	padding-top: 50px;
}

.fl-module .demo-video {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: static;
	margin: 0;
}

.fl-module-custom-video .fl-module-content {
	background-image: url('../../../../img/laptop-background.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding: 39px 86px 87px 95px;
    height: 374px;
    width: 617px;
    margin-left: auto;
    margin-right: auto;
}
